<div>
  <h1>
    Welcome to {{title}}!
  </h1>
  <!-- <div app-test></div> -->
  <!-- <app-test-access></app-test-access> -->
  <!-- <app-test-class-bindings></app-test-class-bindings> -->
  <!-- <app-test-style-bindings></app-test-style-bindings> -->
  <!-- <app-test-event-bindings></app-test-event-bindings> -->
  <!-- <app-test-ng-ifs></app-test-ng-ifs> -->
  <!-- <app-test-ng-switchs></app-test-ng-switchs> -->
  <!-- <app-test-ng-for></app-test-ng-for> -->
  <!-- <app-test-pipes></app-test-pipes> -->
  <!-- <employee-list></employee-list> -->
  <!-- <employee-detail></employee-detail> -->


  <!-- create a form -->
  <form [formGroup] = "registrationForm" (ngSubmit) = "handleSubmit()">
    <div class="form-group">
      <label for = "userName">userName</label>
      <input formControlName = "userName" type = "text" />

      <div *ngIf = "getUserName().invalid && getUserName().touched">
        <small *ngIf = "getUserName().errors?.required" class="text-danger">Field is required</small>
        <small *ngIf = "getUserName().errors?.minlength" class="text-danger">Min 3 characters</small>
      </div>
      
    </div>
  
    <div class="form-group">
      <label for = "password">Password</label>
      <input formControlName = "password" type = "password" />
    </div>
  
    <div class="form-group">
      <label for = "confirmPassword">Confirm Password</label>
      <input formControlName = "confirmPassword" type = "password" />
    
        <small *ngIf = "registrationForm.errors?.mismatch" class="text-danger">Password not matched</small>
    </div>

    <div class="form-group">
      <label for = "email">email</label>
      <input formControlName = "email" type = "text" />
    </div>

    <button type="button" (click) = "addAlternativeEmail()">add email</button>

    <div class="form-group" formArrayName="alternativeEmail" *ngFor = "let emails of alternativeEmail.controls; let i = index">
      <input formControlName = "email" type = "text" [formControlName] = "i"/>
    </div>
  
    <div formGroupName = "address">
      
      <div class="form-group">
        <label for = "city">City</label>
        <input formControlName = "city" type = "text" />
      </div>

      <div class="form-group">
        <label for = "state">State</label>
        <input formControlName = "state" type = "text" />
      </div>

      <div class="form-group"> 
        <label for = "pinCode">Pin Code</label>
        <input formControlName = "pinCode" type = "text" />
      </div>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button (click) = "loadData()" type = "button">Get Data</button>
  </form>

  {{registrationForm.value | json}}

</div>



